<div class="meal-links">
  <div class="logo">
    FeedMe
  </div>
  <div class="meal-options">
    <div>
      <input type="checkbox" id="checkbox">Vegetarian
    </div>
    <div>
      <input type="checkbox" id="checkbox">Gluten-free
    </div>
    <div>
      <input type="checkbox" id="checkbox">Eazy-Peazy
    </div>
  </div>
  <ul class="entree">
    <li>Breakfast</li>
    <li>Brunch</li>
    <li>Lunch</li>
    <li>Dinner</li>
  </ul>
  <ul class="nontree">
    <li>Dessert</li>
    <li>Snack</li>
  </ul>
</div>
<div class="info">
  <h1>HangChoPa (Hangry Choice Paralysis) is no fun</h1>
  <div class="info-wrapper">
    <div class="info-boxes">
      <%= image_tag "food-color.png"%>
      <p>Act like the only option is the one we give you</p>
    </div>
    <div class="info-boxes">
      <%= image_tag "choice-color.png"%>
      <p>We have all the choices, but choosing one at a time feels easier</p>
    </div>
    <div class="info-boxes">
      <%= image_tag "good-review-color.png"%>
      <p>You'll be surprised at what looks good when you only have one choice</p>
    </div>
  </div>
</div>
<div class="text-wrapper">
  <div>
    <h1>Are you paralyzed by all the recipe choices?</h1>
  </div>
  <div>
    <p>Nobody likes to decide what to cook. Even if you enjoy cooking, trying to pick the menu for the day/week is a pain. Any meal, breakfast to snacks, you can sidestep that Choice Paralysis and just cook what we tell you to. Want something right now? Give that easy-peasy box a check. Bagged chicken nuggets are still food. Don't like a recipe we give you? Click again! Still easier to decide if you like one recipe instead of picking from all the recipes.</p>
  </div>
</div>
<div class="meal-display">
  <div>
    <h1>Weekly Featured Recipe</h1>
  </div>
  <div class="meals-top">
    <div>
      <h3>Breakfast</h3>
      <%= image_tag "breakfast.jpg" %>
      <p>Recipe Title</p>
      <p>Page Title</p>
      <p>Cook Time</p>
    </div>
    <div>
      <h3>Brunch</h3>
      <%= image_tag "brunch.jpg" %>
      <p>Recipe Title</p>
      <p>Page Title</p>
      <p>Cook Time</p>
    </div>
    <div>
      <h3>Lunch</h3>
      <%= image_tag "lunch.jpg" %>
      <p>Recipe Title</p>
      <p>Page Title</p>
      <p>Cook Time</p>
    </div>
  </div>
  <div class="meals-bottom">
    <div>
      <h3>Dinner</h3>
      <%= image_tag "dinner.jpg"%>
      <p>Recipe Title</p>
      <p>Page Title</p>
      <p>Cook Time</p>
    </div>
    <div>
      <h3>Desserts</h3>
      <%= image_tag "desserts.jpg" %>
      <p>Recipe Title</p>
      <p>Page Title</p>
      <p>Cook Time</p>
    </div>
    <div>
      <h3>Snacks</h3>
      <%= image_tag "snack.jpg"%>
      <p>Recipe Title</p>
      <p>Page Title</p>
      <p>Cook Time</p>
    </div>
  </div>
</div>
